---
layout: default
lang: es
ref: index
---
<h2 class="text-center">Lo que puedo hacer por ti</h2>

<div class="row">
    <div class="col-sm-4">
        {% capture webdevtext %}
            He desarrollado sistemas web con Symfony, WebAPIs con C#, y conozco el patrón MVC
            en profundidad. Puedo desarrollar sistemas de nivel comercial e industrial con alta
            complejidad. También puedo con otros tipos de frameworks, solo consúltame.
        {% endcapture %}
        {% include servicecard.html title="Desarrollo Web" text=webdevtext %}
    </div>

    <div class="col-sm-4">
        {% capture webpagetext %}
            Drupal es quizás el CMS más versátil que hay, y por esta razón es también el más complejo. Puedo implementar tu página
            con Drupal, sin plantillas, completamente original. También puedo con otros CMS si así lo deseas.
        {% endcapture %}
        {% include servicecard.html title="Páginas Web" text=webpagetext %}
    </div>

    <div class="col-sm-4">
        {% capture otherdevtext %}
            He desarrollado en Android, simulaciones en Java e incluso análisis con Python. Esto
            demuestra mi versatilidad y siempre velaré porque los objetivos de tu empresa se cumplan. 
            Si necesitas otro tipo de desarrollo, puedo con cualquier desafío.
        {% endcapture %}
        {% include servicecard.html title="Otros Tipos de Desarrollo" text=otherdevtext %}
    </div>
</div>

<div class="text-center">
    <a class="btn btn-primary" href="{{ site.t['es']['projects'].url }}">Ver Mis Proyectos &gt;</a>
</div>