---
layout: default
lang: en
ref: projects
permalink: /projects/
---
<h1>Projects</h1>

<h2><a href="http://www.codesin.cl/Jupiter/web/colegios">SieteNet by Codesin</a></h2>
{% include imagelink.html file="/images/static/asistenciacodesin.png" max-width="200px" alt="Attendance module" %}
{% include imagelink.html file="/images/static/notascodesin.png" max-width="200px" alt="Grading module" %}
<ul class="list-unstyled">
    {% include projectData.html forWhom="Codesin." when="2012 onwards."
        techs="PHP, Symfony 2.3, Doctrine, Twig, jQuery, SQL Server." %}
    <li>
        I restructured Codesin's school management system, which recently adquired the name of SieteNet. It is a robust platform for the 
        management of educational establishments of any kind. It allows registry and reporting of gradings, attendance, records, observations,
        late arrivals, and as a communication tool for legal tutors. Most importantly? It delivers calmness to tutors and improves the 
        management of schools.
    </li>
</ul>

<h2><a href="http://www.metricarts.com/">TunnelArts by MetricArts</a></h2>
<ul class="list-unstyled">
    {% include projectData.html forWhom="MetricArts." when="2017."
        techs="Java, Android, C#, .NET." %}
    <li>
        During 2017 I worked for MetricArts (and you really should ask them for all your data analysis needs, they're the best). My work
        involved a multiplatform application called TunnelArts, an excellent tool for the registry of progresses in urban excavations 
        and predictions about those progresses. The best part about this project? I learned Android and did some fairly complex things
        in just one week.
    </li>
</ul>

<h2><a href="http://www.youngschool.cl/">Iquique Young School Website</a></h2>
{% include imagelink.html file="/images/static/iys_drupal.png" max-width="200px" alt="Iquique Young School Website" %}
<ul class="list-unstyled">
    {% include projectData.html forWhom="Iquique Young School." when="2016."
        techs="PHP, Drupal, MySQL, SASS." %}
    <li>
        On a personal basis, Iquique Young School from the aforementioned city of Iquique, Chile, commissioned me with a website for them.
        It is made with Drupal 7 and completely configured for a customized usage, including photo galleries and blogs for teachers, as well
        as a responsive design.
    </li>
</ul>

<h2>Thesis Work - Multiagent Dispatch System</h2>
{% include imagelink.html file="/images/static/mas.png" max-width="200px" alt="PlaSMA - Simulator for Multiagent Systems" %}
<ul class="list-unstyled">
    {% include projectData.html forWhom="Personal; mandatory to get my degree." when="2016 onwards."
        techs="Java, JADE framework for agents, PlaSMA simulator." %}
    <li>
        My thesis work is about artificial intelligence. More specifically, intelligent agents. It deals with a simulation of an open-pit mine,
        alongside with trucks and shovels that interact with each other, as well as all related negotiation processes.
    </li>
</ul>

<h2><a href="https://github.com/CarlosVPadilla/CarlosVPadilla.github.io">This website</a></h2>
<ul class="list-unstyled">
    {% include projectData.html forWhom="Personal." when="2017."
        techs="Jekyll, Bootstrap, SASS." %}
    <li>
        Yes, this website is one of my projects. You can check its source code on the title's link. If you want a concrete example on my
    programming capabilities, this example should answer all your questions.
    </li>
</ul>