<div class="container text-center blog-about">
    {% if page.lang == "es" %}
    <h2>Sobre Carlos Vergara</h2>
    <p>
        Carlos Vergara es un desarrollador de software que ha trabajado por varios años en un sistema de información de colegios y cuya tesis de grado se centró en
        simulaciones con sistemas multiagente. Actualmente está aprendiendo sobre aprendizaje automático. Si quieres saber más sobre él, puedes revisar sus
        <a href="/projects">proyectos</a>.
    </p>
    {% else %}
    <h2>About Carlos Vergara</h2>
    <p>
        Carlos Vergara is a software developer who has worked for several years on a schools information system and whose degree thesis focused on multi-agent
        simulations. He is currently learning about machine learning. If you want to know more about him, you can check on his <a href="/projects">projects</a>.
    </p>
    {% endif %}
</div>