<ul class="fa-ul">
    <li>
        <i class="fa-li fa fa-envelope-o"></i>
        <a href="mailto:carlos.vpadilla@gmail.com?subject={{ site.strings.hello[page.lang] }}">E-Mail</a>
    </li>
    <li>
        <i class="fa-li fa fa-whatsapp"></i>
        (+56)9 6878 5926
    </li>
    <li>
        <i class="fa-li fa fa-github"></i>
        <a href="https://github.com/CarlosVPadilla/">GitHub</a>
    </li>
    <li>
        <i class="fa-li fa fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/carlosvergarapadilla/">LinkedIn</a>
    </li>
    <li>
        <i class="fa-li fa fa-twitter"></i>
        <a href="https://twitter.com/carlos_vpadilla">Twitter</a>
    </li>
</ul>