<nav id="mainnav" class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% assign sorted_pages = site.html_pages | sort: "order" %}
                {% for menu in sorted_pages %}
                    {% if page.url == menu.url %}
                        {% assign liClass = "nav-item active" %}
                    {% else %}
                        {% assign liClass = "nav-item" %}
                    {% endif %}
                    <li class="{{ liClass }}">
                        <a class="nav-link" href="{{ menu.url }}">
                            {{ menu.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            
            <p class="lang">
                {% if page.lang == "es" %}
                es | <a href=" {{ page.url | prepend: '/en' }}">en</a>
                {% else %}
                <a href=" {{ page.url | remove: '/en' }}">es</a> | en
                {% endif %}
            </p>
        </div>
    </div>
</nav>
    
<div id="welcome" class="jumbotron">
    <div class="container">
    {%if page.lang == "es" %}
        <h1>Hola, soy Carlos Vergara.</h1>
        <h2>Desarrollador de Software</h2>
        <p>Y hago sistemas de software y web. Java, Javascript, PHP, Python, C#, SQL.</p>
    {% else %}
        <h1>Hello, I'm Carlos Vergara.</h1>
        <h2>Software Developer</h2>
        <p>And I make web and software systems. Java, Javascript, PHP, Python, C#, SQL.</p>
    {% endif %}
    </div>
</div>