<nav id="mainnav" class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for menu in site.t[page.lang] %}
                    {% if page.url == menu[1].url %}
                        {% assign liClass = "nav-item active" %}
                    {% else %}
                        {% assign liClass = "nav-item" %}
                    {% endif %}
                    <li class="{{ liClass }}">
                        <a class="nav-link" href="{{ menu[1].url }}">
                            {{ menu[1].name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            
            <p class="lang">
                {% if page.lang == "es" %}
                es | <a href="{{ site.t['en'][page.ref].url }}">en</a>
                {% else %}
                <a href="{{ site.t['es'][page.ref].url }}">es</a> | en
                {% endif %}
            </p>
        </div>
    </div>
</nav>
    
<div id="welcome" class="jumbotron">
    <div class="container">
    {%if page.lang == "es" %}
        <h1>Hola, soy Carlos Vergara.</h1>
        <h2>Desarrollador Web</h2>
        <p>Y hago sistemas web, principalmente usando Symfony. O sea, PHP.</p>
    {% else %}
        <h1>Hello, I'm Carlos Vergara.</h1>
        <h2>Web Developer</h2>
        <p>And I make web systems, using mainly Symfony. That is to say, PHP.</p>
    {% endif %}
    </div>
</div>