<meta charset="UTF-8">
<title>Carlos Vergara - Software Developer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="keywords" content="Software Development, Desarrollador, Software, Web Developer, Desarrollador de Software">
<meta name="description" content="Carlos Vergara, Software Developer">
<meta name="author" content="Carlos Vergara">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<script src="https://use.fontawesome.com/e14be249bf.js"></script>

<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

<link rel="stylesheet" href="/css/main.css">
